<section class="container-fluid mt-5">
    <div class="text-center">
        <h1>{{'HOME.WELCOME' | translate}}</h1>
        <h5 class="text-secondary">{{'HOME.SUBTITLE' | translate}}</h5>
    </div>
    <mat-card class="col-4 mx-auto my-5 text-center">
        <mat-card-title>
          {{'HOME.QUESTION' | translate}}
        </mat-card-title>
        <mat-card-content>
            <button mat-raised-button color="warn" routerLink="players">{{'HOME.BUTTON' | translate}}</button>
            <hr>
            <button mat-stroked-button color="accent"
                    matTooltip="Vous devez vous identifier en tant qu'admin"
                    routerLink="/game/add">Créer un quiz</button>
        </mat-card-content>
    </mat-card>
</section>
