<section class="container-fluid mt-5">
  <mat-card class="m-auto col-md-8 col-lg-6">
    <mat-card-header>
      <mat-card-title>{{'REGISTER.TITLE' | translate}}</mat-card-title>
    </mat-card-header>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
      <mat-form-field>
        <input matInput placeholder="{{'REGISTER.LASTNAME' | translate}}" formControlName="lastname" required>
        <mat-error *ngIf="registerForm.controls.lastname.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'REGISTER.FIRSTNAME' | translate}}" formControlName="firstname" required>
        <mat-error *ngIf="registerForm.controls.firstname.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'REGISTER.EMAIL' | translate}}" formControlName="email" required>
        <mat-error *ngIf="registerForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'REGISTER.USERNAME' | translate}}" formControlName="username" required>
        <mat-error *ngIf="registerForm.controls.username.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'REGISTER.PASSWORD' | translate}}" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.controls.password.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="warn" class="col-4 m-auto">{{'REGISTER.BUTTON_CONNECT' | translate}}</button>
    </form>
  </mat-card>
</section>
